<% @cart.cart_products.each do |cart_product| %>
    <a href="/products/<%=cart_product.product.id%>"><img src="<%=cart_product.product.image%>"></img></a><br>
    <b><%= link_to cart_product.product.name, product_path(id: cart_product.product.id) %></b>
    <br>
    <em>Price: $<%=cart_product.quoted_price%></em>
    <br>
    <em>Quantity: <%=cart_product.quantity%></em>
    <br>
    <b><%= link_to "Edit item", edit_cart_product_path(cart_product.id) %></b>
    <b><%=link_to 'Delete item', cart_product_path(cart_product.id), method: :delete, data: { confirm: "Delete #{cart_product.product.name}?"}%></b>
<%end%>

