<%= form_for [@category, @category.products.build], url: category_product_index_path(@category, @product) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :stock_count %>
    <%= f.text_field :stock_count %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

