<h2>Edit User</h2>

<%= link_to 'Destroy This Account', user_path(@user), method: :delete %>

<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <p>
    <%= f.label :username %>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
