<h1>Welcome, <%=@user.username%>!</h1>

<% @products.each do |product| %>
  <div class="product-display-container">
    <img src="<%=product.image%>"></img><br>
    <b><%= link_to product.name, product_path(id: product.id) %></b>
    <em><%=product.price%></em>
  </div>
<% end %>
<% if @user.title == "admin" %>
    <div class="homepage-link-container">
      <%= link_to "New Product", new_product_path %>
      <br>
    </div>
  <%end%>

