<% @products.each do |product| %>
  <div class="product-detail-container col-sm-4" id="<%=session[:user_id]%>">
    <a href="/products/<%=product.id%>"><img class="well" src="<%=product.image%>"></img></a><br>
    <b><%= link_to product.name, product_path(id: product.id) %></b>
    <br>
    <em>$<%=product.price%>0</em>
    <br><button class="cartbtn" id="<%=product.id%>">Add to Cart</button>
  </div>
<%end%>
