<h2><%=@product.name%></h2>

<ul>
  <li><%="Stock: #{@product.stock_count}"%></li>
  <li><%= "Price: $#{@product.price}" %></li>
</ul>

<p> Image goes Here </p>

<%if session[:user_id] && @user.title == "admin"%>
<%= link_to 'Edit', edit_product_path %><br>
<%=link_to 'Delete', product_path, method: :delete, data: { confirm: "Delete #{@product.name}?"}%><br>
<%end%>
<%= link_to 'Back', root_path %>
